<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>circle140</key>
	<string>on</string>
	<key>circle406</key>
	<string>off</string>
	<key>circle407</key>
	<string>on</string>
	<key>circle408</key>
	<string>on</string>
	<key>credit406</key>
	<string>on</string>
	<key>credit407</key>
	<string>on</string>
	<key>credit408</key>
	<string>off</string>
	<key>inter_f1</key>
	<string>off</string>
	<key>log_picmix</key>
	<string>on</string>
	<key>log_tips</key>
	<string>on</string>
	<key>log_wechat</key>
	<string>on</string>
	<key>log_weibo</key>
	<string>on</string>
	<key>mall406</key>
	<string>on</string>
	<key>mall407</key>
	<string>on</string>
	<key>mall408</key>
	<string>off</string>
	<key>mission404</key>
	<string>off</string>
	<key>mission405</key>
	<string>on</string>
	<key>mission406</key>
	<string>on</string>
	<key>mission407</key>
	<string>off</string>
	<key>mission408</key>
	<string>off</string>
	<key>n_stickers</key>
	<string>off</string>
	<key>sticker310</key>
	<string>off</string>
	<key>sticker317</key>
	<string>on</string>
	<key>stickers</key>
	<string>off</string>
	<key>vivolock</key>
	<string>off</string>
	<key>wallet404</key>
	<string>off</string>
	<key>wallet405</key>
	<string>on</string>
	<key>wallet406</key>
	<string>on</string>
	<key>wallet407</key>
	<string>on</string>
	<key>wallet408</key>
	<string>off</string>
	<key>wechat312</key>
	<string>on</string>
	<key>wechat313</key>
	<string>on</string>
	<key>wechat314</key>
	<string>on</string>
	<key>wechat315</key>
	<string>on</string>
	<key>wechat316</key>
	<string>on</string>
	<key>wechat317</key>
	<string>on</string>
	<key>wechat318</key>
	<string>on</string>
	<key>wechat319</key>
	<string>on</string>
	<key>wechat320</key>
	<string>on</string>
	<key>wechat400</key>
	<string>on</string>
	<key>wechat401</key>
	<string>on</string>
	<key>wechat402</key>
	<string>on</string>
	<key>wechat403</key>
	<string>on</string>
	<key>wechat404</key>
	<string>on</string>
	<key>wechat405</key>
	<string>on</string>
	<key>wechat406</key>
	<string>on</string>
	<key>wechat407</key>
	<string>on</string>
	<key>wechat408</key>
	<string>off</string>
	<key>weibo312</key>
	<string>on</string>
	<key>weibo313</key>
	<string>on</string>
	<key>weibo314</key>
	<string>on</string>
	<key>weibo315</key>
	<string>on</string>
	<key>weibo316</key>
	<string>on</string>
	<key>weibo317</key>
	<string>on</string>
	<key>weibo318</key>
	<string>on</string>
	<key>weibo319</key>
	<string>on</string>
	<key>weibo320</key>
	<string>on</string>
	<key>weibo400</key>
	<string>on</string>
	<key>weibo401</key>
	<string>on</string>
	<key>weibo402</key>
	<string>on</string>
	<key>weibo403</key>
	<string>on</string>
	<key>weibo404</key>
	<string>on</string>
	<key>weibo405</key>
	<string>on</string>
	<key>weibo406</key>
	<string>on</string>
	<key>weibo407</key>
	<string>on</string>
	<key>weibo408</key>
	<string>off</string>
</dict>
</plist>
